$primary-color: #FF7663
$secondary-color: rgba(255, 118, 99, 0.3)
$cherry-color: #633147
$darkcherry-color: #351C27
$red-color: #FC5550

$like-color: #2EC4B6
$dislike-color: #E71D36

$grey-color: #B0B0B0
$grey2-color: #A897A4

$dark-color: #000000
$white-color: #FFFFFF