@import 'vendors/normalize'
@import 'colors'
@import 'fonts'
@import 'modules/header'
@import 'components/toggle'

html
    font-size: 10px

body
    background-color: $white-color
    color: $dark-color
    font-family: 'Inter'
    font-size: 1.4rem
