.comment
    img.face(src="./img/face2.png", alt="face2")
    .container
        .row
            span.username(title="insta: @someNikname") Username
            span.edit изменить
            span.delete
        .row
            p.comment-test На этом месте должен быть самый крутой, креативный, неординарный отзыв о работе крутейшего, современного сервиса по поиску замечательных, любимых домашних питомцев. Все добра и любви! Рекомендую!
            span.show-more Показать полностью
        .row
            span.like 14
            span.dislike 15
            span.heart
            span.date(title="22,03,15 12:23") 22,03,15
            span.reply ответить
        .row
            span.respones-companis Ответы компании 14
            span.circle
            span.respones-users Ответы пользователей 15
