.input
    color: $black-color
    font-weight: 600
    font-size: 1.6rem
    padding: 1.9rem 2.5rem 1.7rem 2.5rem
    border: 1px solid $grey3-color
    border-radius: 10px
    width: 100%
    box-sizing: border-box
    margin-bottom: 1rem
    &::placeholder
        color: $black-color
        font-weight: 600
        font-size: 1.6rem

.success
    color: $green
    border-color: $green
    &::placeholder
        color: $green
.error
    color: $primary-color
    border-color: $primary-color
    &::placeholder
        color: $primary-color

.eye
    display: block
    position: absolute
    right: 5.5rem
    margin-top: -4.5rem
    height: 1.636rem
    width: 1.8rem
    opacity: .5
    transition: .5s
    cursor: pointer
    background: url('../img/icons/eye.svg') no-repeat top right
    &:hover
        opacity: 1