.toggle
    color: $cherry-color
    &:hover
        border: 1px solid $darkcherry2-color
        border-radius: 4px
    &.active
        color: $red-color
        background-color: $darkcherry2-color
        border-color: none