
<div class="comment"><img class="face" src="./img/face2.png" alt="face2"/>
  <div class="container">
    <div class="row"><span class="username">Username</span><span class="edit">изменить</span><span class="delete"></span></div>
    <div class="row">
      <p class="comment-test">На этом месте должен быть самый крутой, креативный, неординарный отзыв о работе крутейшего, современного сервиса по поиску замечательных, любимых домашних питомцев. Все добра и любви! Рекомендую!</p>
    </div>
    <div class="row"><span class="like">14</span><span class="dislike">15</span><span class="heart"></span><span class="date">22,03,15</span><span class="reply">ответить</span></div>
    <div class="row"><span class="respones-companis">Ответы компании 14</span><span class="circle"></span><span class="respones-users">Ответы пользователей 15</span></div>
  </div>
</div>