<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Проверка домена
        link(href="./css/styles.min.css", rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8")
    body
        header
            .header-mini
                span.back
                span Проверка домена
                span.menu
                ul.menu-list
                    li Настройки
                    li Выход

        .content.confirmation
            input(type="text", placeholder="vk.com").input
            p Разместите данный файл в корневой папке вашего сайта. Файл должен быть расположен: domain.com/сonfirmation.txt.
            span.download Скачать файл для проверки
            span.button Проверить

        script(src="./js/main.min.js")
