footer
    .footer-top
        a(href="#") О проекте
        a(href="#") Правовая информация
        a(href="#") Я владелец сайта
    .footer-bottom
        span.logo klimov.co
        span#review Написать отзыв или предложение
