footer
    .footer-top
        a(href="#") О проекте
        a(href="#") Правовая информация
        a(href="#") Я владелец сайта
    .footer-bottom
        span(class="logo") klimov.co
        span(id="review") Написать отзыв или предложение
