header
    .header-top
        span(class="url") Land-book.com
        img.face(src="./img/face.png", alt="face")
        .menu
    .header-bottom
        span.toggle.active О сайте
        span.toggle О странице
        span.like 12365
        span.dislike 165
        span.star 78/100
