<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="./css/styles.min.css", rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8")
    body
        include modules/header

        .content
            .tabs
                span.tab.active Положительные (3)
                span.tab Отрицательные (2)
                span.tab Спам (1)
            .comments
                .tab-content
                    include components/comment
                    include components/comment
                    include components/comment
                .tab-content
                    include components/comment
                    include components/comment
                .tab-content
                    include components/comment
            span.button-outline#show-more Показать больше

        include modules/footer

        script(src="./js/main.min.js")
