<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="./css/styles.min.css", rel="stylesheet")
    body
        include header

        .content
            .tabs
            .comments
                include comment

            span.button-outline#show-more Показать больше

        include footer

        script(src="./js/main.min.js")
