<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Review
        link(href="./css/styles.min.css", rel="stylesheet")
    body
        include modules/header-review

        .content-review
            p Lorem.

        include modules/footer

        script(src="./js/main.min.js")
