.comment {
  display: dlex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .comment .face {
    border-radius: 50%;
    height: 50px;
    width: 50px; }
