header
    .header-top
        span.url Land-book.com
        img.face(src="./img/face.png", alt="face")
        span.menu
        ul.menu-list
            li Настройки
            li Выход
    .header-bottom
        span.toggle.active О сайте
        span.toggle О странице
        span.like 12365
        span.dislike 165
        span.star 78/100
