header
    background: linear-gradient(111.34deg, $black-color -10.47%, $darkcherry-color 96.06%)
    color: $white-color
    .header
        &-top
            padding: 3rem 2rem 1.7rem 3rem
            display: flex
            align-items: center
            justify-content: space-between
            border-bottom: 1px solid $cherry2-color
            .url
                font-size: 1.6rem
                margin-right: auto
            .face
                border-radius: 50%
                height: 35px
                width: 35px
            .menu
                margin-left: 2rem
                height: 1.8rem
                width: 0.4rem
                background: url('../img/icons/menu.svg')
        &-bottom
            padding: 1.9rem 1.6rem 2rem 2rem